<!DOCTYPE html>
<html ${data.head.htmlAttributes}>
<head>
    $!{data.head.title}
    $!{data.head.link}
    $!{data.head.meta}
    $!{data.head.style}
    <link href="/${data.assets['vendor.css']}" rel="stylesheet">
    <link href="/${data.assets['main.css']}" rel="stylesheet">
    <script>
    	window.__INITIALSTATE__ = $!{JSON.stringify(data.state)};
        window.${data.settings.variable} = $!{JSON.stringify(data.settings.value)};
    </script>
</head>
<body>
    <div id="root">$!{data.body}</div>
    <script type="text/javascript" src="https://polyfill.io/v2/polyfill.min.js?features=default,fetch"></script>
    <script type="text/javascript" src="/${data.assets['vendor.js']}"></script>
    <script type="text/javascript" src="/${data.assets['main.js']}"></script>
</body>
</html>